<div id="guess">
    <span class="label">Current</span>
    <span class="value"><%= guess %></span>
</div>
<div id="guess-accuracy">
    <span class="label">Low/High</span>
    <span class="value"><%= guessAccuracy %></span>
</div>
<div id="guesses-allowed">
    <span class="label">Allowed</span>
    <span class="value"><%= guessesAllowed %></span>
</div>
<div id="guesses-made">
    <span class="label">Made</span>
    <span class="value"><%= guessesMade %></span>
</div>
<div id="guesses-remaining">
    <span class="label">Remaining</span>
    <span class="value"><%= guessesRemaining %></span>
</div>
