<div class="gauge" id="guess">
    <span class="gauge-label">Current</span>
    <span class="gauge-value"><%= guess %></span>
</div>
<div class="gauge" id="guess-accuracy">
    <span class="gauge-label">Low/High</span>
    <span class="gauge-value"><%= guessAccuracy %></span>
</div>
<div class="gauge" id="guesses-allowed">
    <span class="gauge-label">Allowed</span>
    <span class="gauge-value"><%= guessesAllowed %></span>
</div>
<div class="gauge" id="guesses-made">
    <span class="gauge-label">Made</span>
    <span class="gauge-value"><%= guessesMade %></span>
</div>
<div class="gauge" id="guesses-remaining">
    <span class="gauge-label">Remaining</span>
    <span class="gauge-value"><%= guessesRemaining %></span>
</div>
