#settings.dialog
    .dialog-content
        h1 Settings
        form
            fieldset
                legend Number of Guesses
                label
                    input(name='level', type='radio', value='13')
                    | 13 (naive novices)
                label
                    input(name='level', type='radio', value='10')
                    | 10 (aspirational amateurs)
                label
                    input(name='level', type='radio', value='7')
                    | 7 (polished professionals)
        .buttons
            a.button.button-green(href='#play')
                | Play
            a.button.button-red.dialog-trigger(href='#splash')
                | Cancel
