#win.dialog
    .dialog-content
        h1 You Win!
        p
            | The secret number was&#8230;
            span.secret-number.win
        .buttons
            a.button.button-green(href='#play')
                | Replay
            a.button.button-red.dialog-trigger(href="#splash")
                | Quit
