bower_components
build
cordova
node_modules

server/views/includes/dialogs/leaderboard.jade
server/views/includes/dialogs/profile.jade
src/js/lib/vendor
src/js/profileView.js
src/js/re-main-ing.js
tasks/release.js
