#lose.dialog
    .dialog-content
        h1 You Lose!
        p
            | The secret number was&#8230;
            span.secret-number
        .buttons
            a.button.button-green(href='#play')
                | Replay
            a.button.button-red.dialog(href="#splash")
                | Quit
