#splash.dialog
    .dialog-content
        h1 #{title}
        ul.margin-left-0.padding-left-4.spaced-2
            li Guess the secret number before you run out of guesses.
            li The secret number changes from game to game.
            li Gauge the accuracy of your guesses with the low/high indicator.
            li Customize the number of guesses per game you're allowed.
            li Limitless replays: Play until your number's up!
        .buttons
            a.button.button-green.dialog-trigger(href="#settings")
                | Start
