doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        title #{title}
        link(href='styles/main.css', rel='stylesheet', type='text/css')
    body
        #outer-wrapper
            #inner-wrapper
                #play
                    h1 #{title}
                    include includes/gameboard.jade
                include includes/dialogs/splash.jade
                include includes/dialogs/settings.jade
                include includes/dialogs/win.jade
                include includes/dialogs/lose.jade
        script(src='scripts/lib/vendor/jquery/jquery.js', type='text/javascript')
        script(src='scripts/lib/vendor/jquery.migrate/jquery-migrate-1.2.1.js', type='text/javascript')
        script(src='scripts/lib/vendor/jquery.tools/toolbox.expose.js', type='text/javascript')
        script(src='scripts/lib/vendor/jquery.tools/overlay.js', type='text/javascript')
        script(src='scripts/lib/vendor/underscore/underscore.js', type='text/javascript')
        script(src='scripts/lib/vendor/backbone/backbone.js', type='text/javascript')
        script(src='scripts/lib/vendor/backbone.super/backbone-super.js', type='text/javascript')
        script(src='scripts/_main.js', type='text/javascript')
