.button (@bgColor, @color) {
    background-color: @bgColor;
    border-radius: 10px;
    color: @color;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', 'Marker Felt', 'Purisa', 'URW Chancery L', cursive;
    font-size: 0.9em;
    margin: 0 10px;
    padding: 9px 15px;
    text-decoration:none;
    &:hover {
        background-color: lighten(@bgColor, 5%);
    }
}

.transition {
    /* WebKit */
    -webkit-transition-duration:          0.25s;
    -webkit-transition-property:          font-size, height, left, position, top, width;
    -webkit-transition-timing-function:   ease-out;
    /* Mozilla */
    -moz-transition-duration:             0.25s;
    -moz-transition-property:             font-size, height, left, position, top, width;
    -moz-transition-timing-function:      ease-out;
    /* Opera */
    -o-transition-duration:               0.25s;
    -o-transition-property:               font-size, height, left, position, top, width;
    -o-transition-timing-function:        ease-out;
    /* W3C */
    transition-duration:                  0.25s;
    transition-property:                  font-size, height, left, position, top, width;
    transition-timing-function:           ease-out;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
