#gauges
    .gauge#guess
        span.gauge-label Current
        span.gauge-value
    .gauge#guess-accuracy
        span.gauge-label Low/High
        span.gauge-value
    .gauge#guesses-allowed
        span.gauge-label Allowed
        span.gauge-value
    .gauge#guesses-made
        span.gauge-label Made
        span.gauge-value
    .gauge#guesses-remaining
        span.gauge-label Remaining
        span.gauge-value
