#gauges
    #guess
        span.label Current
        span.value
    #guess-accuracy
        span.label Low/High
        span.value
    #guesses-allowed
        span.label Allowed
        span.value
    #guesses-made
        span.label Made
        span.value
    #guesses-remaining
        span.label Remaining
        span.value
