doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(name='format-detection', content='telephone=no')
        meta(name='msapplication-tap-highlight', content='no')
        meta(name='viewport' content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
        link(href='css/index.css', rel='stylesheet', type='text/css')
        title Numbers Up
    body
        #wrapper-outer
            #wrapper-inner
                include jade/board.jade
                include jade/dialogs.jade
        script(src='cordova.js', type='text/javascript')
        script(src='js/lib/vendor/jquery/jquery.js', type='text/javascript')
        script(src='js/lib/vendor/jquery.migrate/jquery-migrate-1.2.1.js', type='text/javascript')
        script(src='js/lib/vendor/jquery.tools/toolbox.expose.js', type='text/javascript')
        script(src='js/lib/vendor/jquery.tools/overlay.js', type='text/javascript')
        script(src='js/lib/vendor/underscore/underscore.js', type='text/javascript')
        script(src='js/lib/vendor/backbone/backbone.js', type='text/javascript')
        script(src='js/lib/vendor/backbone.super/backbone-super.js', type='text/javascript')
        script(src='js/index.js', type='text/javascript')
